/* .grandfather {
    background-color: red;
    color: white;
    padding: 50px;
    font-size: 30px;
    cursor: pointer;
}

.son {
    background-color: orange;
    color: white;
    padding: 50px;
    font-size: 30px;
    cursor: pointer;
}

.grandson {
    background-color: yellow;
    color: white;
    padding: 50px;
    font-size: 30px;
    cursor: pointer;
}

.grandfather:hover {
    opacity: 0.8;
}

.son:hover {
    opacity: 0.8;
}

.grandson:hover {
    opacity: 0.8;
} */


/* .ul {
    padding: 100px;
    background-color: red;
}

li {
    padding: 10px;
    background-color: green;
} */




/* Урок 2 */

.list {
    list-style: none;
    margin: 0px auto;
    padding: 0;
    outline: 1px solid red;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 1000px;
}

.item {
    flex-basis: calc((100% - 60px) / 3);
    height: 300px;
    outline: 1px solid blue;
    font-size: 150px;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal {
    height: 700px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.btn {
    background-color: yellowgreen;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}